// COLORS
@primaryColor: #ffffff;
@primaryColorShadow: #ffffffaa;
@primaryColorShadowDarker: #ffffff40;
@secondaryColor: #171717ee;
@secondaryColorShadow: #171717aa;
@secondaryColorShadowDarker: #17171740;
@accentColor: #ef2020;

// SCREEN
@FHD: ~'(max-width: 1920px)';
@MHD: ~'(max-width: 1540px)';
@HD: ~'(max-width: 1366px)';
@MinWidth: ~'(max-width: 850px)';
@HDh: ~'(max-height: 667px)';

// ANIMATIONS
@keyframes rotateY   {from {transform: rotateY(1deg);} to {transform: rotateY(359deg);}}
@keyframes fadeIn    {from {opacity: 0;} to {opacity: 1;}}
@keyframes scaleUp   {from {transform: scale(1);} to {transform: scale(1.025);}}

* {
   transition: 0.25s;
   user-select: none;
}

hr {
   border: none
}

header {
   margin: auto;
   margin-top: 1%;
   text-align: center;
   animation: fadeIn 1s;

   #header-text {
      color: @primaryColor;
      font-family: "Metal Lord";
      margin: 0;
      font-size: 5.75vh;
   }

   .container-top {
      margin: auto;
      max-width: 650px;

      @media @HD {
         max-width: 550px;
      }

      #search-container {
         .search-widget {
            display: grid;
            grid-template-columns: auto 40px;
            height: 40px;

            .search {
               width: 100%;
               height: 100%;
               background: @secondaryColorShadowDarker;
               border: 2px solid @primaryColor;

               &:hover,
               &:focus {
                  background: @secondaryColorShadow;
                  box-shadow: 0px 0px 7px 0px @primaryColor;
               }

               &#search-input {
                  border-right: 1px solid @primaryColor;
                  font-family: 'Consolas';
                  font-size: 17pt;
                  color: @primaryColor;
                  text-shadow: 0px 0px 6px @primaryColorShadow;
               }

               &#search-btn {
                  border-left: 1px solid @primaryColor;
                  background-image: url('../assets/Icons/searchw.png');
                  background-size: cover;
                  background-repeat: no-repeat;
                  background-position: center;
                  cursor: pointer;
               }
            }
         }
      }

      #weather-container {
         #weather-nextdays {
            div {
               .weather-icon {
                  border: solid @primaryColor;
                  border-radius: 100%;
                  box-sizing: border-box;
                  height: 57px;
                  width: 57px;
                  padding: 1px;
               }

               &:hover>.weather-icon {
                  animation: rotateY 2s cubic-bezier(0, 0.0, 1, 1) infinite;
               }
            }

            @media @HDh {
               display: none
            }

         }
      }
   }
}

body {
   background-image: url(../assets/Backgrounds/Asari.jpeg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   margin: 0;
   animation: fadeIn 1s;

   @media @MinWidth {
      background-size: auto;
   }

   #container {
      display: grid;
      grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
      grid-row-gap: 10px;
      width: 98%;
      margin: 0 1%;

      @media @MinWidth {
         grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
         grid-row-gap: 5px;
      }
   }

   .go-btn {
      width: 96%;
      height: 9vmax;
      max-height: 140px;
      font-size: 2vw;
      font-family: "Metal Lord";
      color: @primaryColor;
      text-shadow: 0px 0px 6px @primaryColorShadow;
      border-radius: 5px 5px 20px 20px;
      border: 3px solid @primaryColor;
      background: @secondaryColorShadowDarker;
      cursor: pointer;
      text-align: center;
      margin: auto;

      &:hover {
         background-color: @secondaryColorShadow;
         box-shadow: 0px 0px 7px 0px @primaryColor;
         animation: scaleUp 0.25s cubic-bezier(0, 0.0, 1, 1);
         transform: scale(1.025);
      }

      @media @HDh {
         max-height: 100px;
      }

      @media @MinWidth {
         height: 51.25px;
         font-size: 14pt;
         font-family: Fontastique;
         border-width: 2px;
         border-radius: 3px 3px 3px 3px;
      }
   }
}

footer {
   animation: fadeIn 1s;
   position: fixed;
   text-align: right;
   bottom: 0;
   width: 98%;
   margin: 0 1%;

   @media @MinWidth {
      text-align: center;
   }

   div {
      height: 45px;
      width: 45px;
      display: inline-block;
      position: relative;
      border: 3px solid @primaryColor;
      background-color: @secondaryColorShadowDarker;
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 100%;
      margin-left: 1px;
      cursor: pointer;

      &:hover {
         background-color: @secondaryColorShadow;
         box-shadow: 0px 0px 7px 0px @primaryColor;
         transform: scale(1.025);
         animation: scaleUp 0.25s cubic-bezier(0, 0.0, 1, 1);
      }
   }
}










/* #region Weather*/
#weather-container {
   width: auto;
   text-align: center;
   color: @primaryColor;
}

.weather-icon {
   border: solid @primaryColor;
   border-radius: 100%;
   box-sizing: border-box;
}

.today-weather-top {
   display: grid !important;
   grid-template-columns: 43% auto 43%;
}

#city {
   text-align: right;
}

#temperature-now {
   text-align: left
}

#weather-now-icon {
   margin: auto;
}

.today-weather-top h1 {
   letter-spacing: 5px;
   text-decoration: overline;
}

#today h3 {
   margin: 0 !important;
}

#weather-today {
   border: 1px solid @primaryColor;
   /* border-top: 0; */
   background: @secondaryColorShadowDarker;
}

#weather-today:hover {
   background: @secondaryColorShadow;
   box-shadow: 0px 0px 7px 0px @primaryColor;
}

#today * {
   display: inline-block;
   vertical-align: middle;
}

#weather-nextdays div {
   width: 20%;
   display: inline-block;
   border: 1px solid @primaryColor;
   box-sizing: border-box;
   background: @secondaryColorShadowDarker;
}

#weather-nextdays div:hover {
   background: @secondaryColorShadow;
   box-shadow: 0px 0px 7px 0px @primaryColor;
}

#weather-nextdays h5,
#weather-nextdays h4 {
   margin-top: 3px;
   margin-bottom: 3px;
}

/* #endregion */

/* #region MODAL*/
.modal {
   background: #ffffffef;
   color: red !important;
   position: absolute;
   top: calc(50% - 85px);
   left: calc(50% - 125px);
   width: 250px;
   height: 170px;
   visibility: hidden;
   opacity: 0;
   text-align: center;
   z-index: 0;
   border: 1px solid #ffffff;

   input {
      padding: 5px;
   }
}

.modal-header {
   padding: 1px 0px 3px 0;
   background: #10101030;
   text-align: right;
}

.modal-header-label {
   margin-right: 69% !important;
}

.modal-x {
   border: 1px solid #10101050;
   background: #d32e2e;
   cursor: pointer;
}

.modal-body {
   height: 100%;
   margin-top: 6%;
}

.modal-input {
   height: 30px;
   border: 1px solid #10101050;
}

.modal-button {
   cursor: pointer;
   height: 30px;
   border: 1px solid #10101050;
   background: #fff;
}

/* #endregion */